* {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

body {
    color: #fff;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    min-height: 100vh;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.5s forwards;
    overflow-x: hidden;
}
.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}
.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    animation: pulse 1.2s infinite ease-in-out;
}
.dot:nth-child(1){
    animation-delay: 0s;
}
.dot:nth-child(2){
    animation-delay: 0.3s;
}
.dot:nth-child(3){
    animation-delay: 0.6s;
}
@keyframes pulse{
    0%, 100% {
        transform: scale(0);
        opacity: 0.5;
    }
    50%{
        transform: scale(1.5);
        opacity: 1;
    }
}
.logo a.no-decoration {
    color: white !important;
    text-decoration: none !important;
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.carousel-inner img {
    object-fit: cover; 
    border-radius: 10px; 
}

.container {
    display: flex;
    justify-content: center;
    color: #fff!important;
}
.nav-link a {
    color: #fff;
    text-decoration: none;
}
.glass-container {
    display: block;
    max-width: 54vw;
    margin: 7.5vh auto 22.5px auto;
    background-color: rgba(0, 0, 0, 0.56);
    padding: 37.5px;
    border-radius: 12px;
    box-shadow: 0 0 7.5px rgba(0, 0, 0, 0.56);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
}

ul.nav-link {
    margin: 0;
    float: right;
    display: flex;
    list-style: none;
}

li.nav-link {
    display: inline-block;
    margin-left: 22.5px;
    font-size: 12.75px;
    font-weight: 300;
}

.logo {
    display: inline-block;
    font-size: 22.5px;
    font-weight: 600;
    margin-top: -7.5px;
}

.content {
    display: flex;
    width: 100%;
}

.main {
    margin-top: 7.5vh;
    display: inline-block;
    padding: 15px;
}

.contact-link {
    color: #8BC6EC;
}

.main h2 {
    color: #fff!important;
    font-size: 26.25px;
}

.main p {
    color: #fff!important;
    font-size: 15px;
    line-height: 17.25px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.75vh;
    position: relative;
}

.image-wrapper img {
    max-width: 375px;
}

.image-wrapper img {
    max-width: 375px;}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    flex-wrap: wrap;
}
.navbar .nav-link a {
    position: relative;
}
.navbar .nav-link a::before {
    content: '';
    position: absolute;
    bottom: -1.5px;
    left: 0;
    width: 0;
    height: 1.5px;
    background: #fff;
    transition: width 0.3s ease;
}

.navbar .nav-link a:hover::before {
    width: 100%;
}


.tools-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    text-align: center;
}

.tools-heading {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.tool {
    position: relative;
    display: inline-block;
    max-width: 180px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease;
    margin-bottom: 1em;
}
.tools-heading  {
    color: #fff!important;}

.tool img {
    width: 120px;
    height: auto;
    transition: transform 0.3s ease;
}

.tool:hover {
    transform: scale(1.1);
}

.tool-info {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    width: 250px;
    box-sizing: border-box;
    transition: all 0.4s ease;
    border-radius: 10px;
}

.tool:hover .tool-info {
    bottom: 120%;
    visibility: visible;
    opacity: 1;
}

.tool h3,
.tool p {
    margin: 0;
    padding: 5px 0;
    display: none;
}

.tool:hover h3,
.tool:hover p {
    display: block;
}

.footer{
    text-align: center;
    margin-bottom: 2em;
  }
  .footer p{
    color: #fff;
    font-size: 0.9em;
    margin: 0.3em 0;
  }
  .footer a{
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
  }
  .footer .copyright{
    margin-bottom: 0.2rem;
  }
  .footer .msg{
    font-weight: 700;
  }

.floating-caption {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    max-width: 350px; /* ensure this is what you want */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.floating-caption .fa-xmark {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #d4d4d4;
}

.floating-caption p {
    flex: 1;
    margin: 0;
    padding: .5em; 
    line-height: 1; 
    text-align: left;
    white-space: normal;
}

.floating-caption button {
    font-weight: bold;
    margin-right: 8px;
    border: none;
    border-radius: 999px;
    padding: 10px 24px;
    min-width: 120px;
    background-color: #fff;
    color: #1c1d1e;
    cursor: pointer;
    flex-shrink: 0;
    white-space: nowrap;
    text-align: center;
}

@keyframes jumpToBottom {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(100px);
        opacity: 0;
    }
}

.hide-animation {
    animation: jumpToBottom 0.5s forwards;
}
@media (max-width: 546px) {
    .logo {
        display: none;
    }
}
@media screen and (max-width: 546px) {
    .content {
        flex-direction: column;
    }
}

@media screen and (max-width: 546px) {
    .main {
        margin-top: 0;
    }
    .image-wrapper img {
        max-width: 200px !important;
    }
    ul.nav-link a {
        font-size: 9px;
        text-align: center;
        justify-content: center
    }
    .main h2 {
        font-size: 15px;
    }
    .main p {
        font-size: 11.25px;
    }
    button {
        font-size: 9.75px;
    }
    .image-wrapper img {
        max-width: 300px;
    }
}
@media screen and (max-width: 546px) {
     .tools-heading {
        font-size: 25px;
        margin: 5px 0 !important;
        padding: 0 !important;
        line-height: 1.2;
    }
    .glass-container {
        max-width: 90vw;
        padding: 15px;
    }
    .glass-container h2 {
        font-size: 15px;
    }
    
    .glass-container p {
        font-size: 11.25px;
    }
    .tool {
        display: inline-block;
        width: auto;
        margin-bottom: 5em;
    }
    .tool:hover {
            transform: scale(1);
        }
    .tool img {
        max-width: 40px;
        display: inline-block;
    }
    .tool img:hover {
        transform: none;
    }

    .tool-container {
        text-align: center;
        white-space: nowrap;
    }
        .tool-info {
        display: none;
        }

        .floating-caption {
            padding: 8px 16px;
            width: 80vw; 
            display: flex; 
        }
        
        .floating-caption p {
            font-size: 8px;
        }
        
        .floating-caption button {
            font-size: 8px;
            min-width: 90px; 
            padding: 6px 12px;  
        }
        .footer p{
            color: #fff;
            font-size: .45em;
          }
}
